{% extends "PropertyDocs/base.html" %}
{% load static %}
{% load PropertyDocs_extras %}


{% block content %}


<div class="container ">
  <h2><b>{{ customer.Firstname}} {{customer.Lastname}} : {{bank.Bank_Type}}</b>
    <a href="{% url 'doc-customer-update' customer.Slug customer.Client_ID %}"
    class="btn btn-primary btn-sm"
    role="button">UPDATE</a>

    <a href="{% url 'doc-customer-delete' customer.Slug customer.Client_ID %}"
     class="btn btn-danger btn-sm"
    role="button">DELETE</a></h2>
</div>
<hr>

<a style="color:black" href = "{% url 'doc-collections' customer.Slug customer.Client_ID bank.Bank_Type bank.id %}"><i class="bi bi-arrow-left-square-fill"></i>
  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
  <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
</svg></a>
<br>
<br>
<div class="container mr-1 border-right-0" >
  <div class="row">

    <div class="col">
      <a style="color:black" href="{% url 'technical-layout-update' customer.Slug customer.Client_ID bank.Bank_Type bank.id %}">
      <p><b>Layout Entries</b></p>
        <img src = "{% static 'PropertyDocs/edit-doc.png' %}"
             alt="Img" width="100" height="110"></a>
    </div>

    <div class="col">
      <a style="color:black" href="{% url 'technical-BUA-update' customer.Slug customer.Client_ID bank.Bank_Type bank.id %}">
      <p><b>BUA Entries</b></p>
        <img src = "{% static 'PropertyDocs/edit-doc.png' %}"
             alt="Img" width="100" height="110"></a>
    </div>

  <div class="col">
    <a style="color:black" href="{% url 'technical-PropertyValue-update' customer.Slug customer.Client_ID bank.Bank_Type bank.id %}">
    <p><b>Property Value</b></p>
      <img src = "{% static 'PropertyDocs/edit-doc.png' %}"
           alt="Img" width="100" height="110"></a>
  </div>

  <div class="col">
    <a style="color:black" href="{% url 'technical-FairMarket-update' customer.Slug customer.Client_ID bank.Bank_Type bank.id %}">
    <p><b>Notes</b></p>
      <img src = "{% static 'PropertyDocs/edit-doc.png' %}"
           alt="Img" width="100" height="110"></a>
  </div>
  </div>
</div>

{% endblock content %}
