{% extends "PropertyDocs/base.html" %}

{% block content %}

  <h2><strong>{{ customer.Firstname}} {{customer.Lastname}} -  {{bank.Bank_Type}}</strong></h2>

<hr>
{% if env %}
<iframe
       title="{{bank.Bank_Type}}"
       loading = "lazy"
       src="https://klarheitvaluers.herokuapp.com/static/DocCreation/PropertyValuation.pdf"
       style="width:1218px; height:900px;padding:20px;"
       frameborder="0" allowfullscreen>
</iframe>
{% else %}
<iframe
       title="{{bank.Bank_Type}}"
       loading = "lazy"
       src ="http://127.0.0.1:8000/static/DocCreation/PropertyValuation.pdf"
       style="width:1218px; height:900px;padding:20px;"
       frameborder="0" allowfullscreen>
</iframe>
{% endif %}
{% endblock content %}
